.container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.loginForm {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  margin-bottom: 10px;
}